@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 90 35% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 20 8.9% 45.1%;
    --accent: 195 53% 79%;
    --accent-foreground: 195 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 90 35% 51%;
    --chart-1: 90 35% 51%;
    --chart-2: 195 53% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 90 35% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 4.9% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 4.9% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 53% 79%;
    --accent-foreground: 195 100% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 4.9% 14.9%;
    --input: 20 4.9% 14.9%;
    --ring: 90 35% 51%;
    --chart-1: 90 35% 51%;
    --chart-2: 195 53% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
